<div class="back">
<h1>Card of cocktails</h1>

<%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %>


<% @cocktails.each do |cocktail| %>
<div class="card">
  <div class="card_img">
  <%= cl_image_tag cocktail.photo.path, height: 300, width: 400, crop: :fill %>
  </div>
  <div container>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <%= link_to "Delete", cocktail_path(cocktail), class: "btn btn-secondary",
  method: :delete,
  data: { confirm: "Are you sure?" } %>
  </div>

  </div>
<% end %>
</div>



